{% extends 'base.html' %}
<head><style>
    .card {
      display: inline-block;
      width: 200px;
      height: 300px;
      margin: 10px;
      border: 1px solid black;
      padding: 10px;
    }
  </style></head>
<div>This is search</div>
<html>
<body>
    <input type="text" id="query">
    <button onclick="search()">Search</button>
    <div id="results">
      {% for i in pdata %}
        <div class="card">
          <h3>{{ i.name }}</h3>
          <p>{{ i.price }}</p>
          <p>p{{i.id}}</p>
        </div>
      {% endfor %}
    </div>



    
    <script>
      function search() {
        
            data.forEach(product => {
              const card = document.createElement("div");
              card.classList.add("card");
              card.innerHTML = `
                <h3>${product.name}</h3>
                <p>${product.price}</p>
              `;
              
            });
          
          
      }
    </script>
  </body>
  </html>